body {
	margin: 0;
	padding: 0;
	color: white;
	background: url(../images/starring.png);
	font-family:myriad-pro,helvetica,arial;
}

#container {
	width: 70%;
	margin: 0 auto;
}

header {
	padding: 20px;
}

footer {
	padding: 20px;
	text-align: center;
	margin-bottom:20px;
}

#content {
	background: black;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	padding: 20px;
}

h1 {
	margin: 0;
	text-align: center; 
	font-family: Courier;
	font-weight: normal;
	font-size: 630%; 
	font-variant:small-caps;
	text-shadow: #000 2px -2px 10px;
	letter-spacing:25px
}

h2 {
	font-family: Courier;
	margin-top: -20px;
	text-align: center; 
	font-weight: normal; 
	font-variant: small-caps; 
}

.loginform {
	width: 50%;
	margin: 30px auto;
}

.loginform input {
	width: 100%;
	font-size: 20pt;
	padding: 5px;
	margin-bottom: 20px;
}

.loginform button {
	font-size: 20pt;
	padding: 5px;
	width:100px;
	display: block;
	margin: 10px auto;
}

.bonusquote {
	font-family: Courier;
	font-size: 100%;
	padding-bottom: 15px;
}

.bonusquoteattribution {
	font-family: Courier;
	font-size: 100%;
	margin-left: 200px;
	margin-bottom: 20px;
	margin-top: -20px;
}

.sunbug a {
	color: white;
}

.sunbug a:hover {
	text-decoration: none;
	color: lightblue;
}

.error {
	text-align: center;
	font-size: 150%;
	color: red;
	font-weight: bold;
}

a {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h3 {
	display: block;
	font-family: Courier;
	float:left;
	font-size: 22pt;
	margin: 0 0 20px 0;
	padding-bottom: 12px;
	border-bottom: dotted 1px white;
}

h4 {
	clear: both;
	font-family: Courier;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16pt;
}

p {
	font-size: 12pt;
	line-height: 16pt;
}

/*
// NAVIGATION
*/

nav ul {
	display: inline;
	margin: 0;
	padding: 0;
	height:45px;
	float: right;
	border-bottom: dotted 1px white;
}

nav ul li {
	display: block;
	list-style: none;
	float: left;
}

nav ul li a {
	display: block;
	height:25px;
	padding: 15px 10px 5px 10px;
	font-family: Courier;
	font-size: 13px;
	text-transform: uppercase;
	color: white;
}

nav ul li:hover {
	background: rgb(10,10,10);
	box-shadow: 0 0 10px darkgray inset;
	border-bottom: 2px dotted lightblue;
}

nav ul li a:hover {
	color: lightblue !important;
	text-decoration: none;
}

/*
// BONUS BAR
*/

#bonusbar {
	position: fixed;
	bottom: 0;
	height: 25px;
	width: 100%;
	z-index: 98;
	background: white;
	color: black;
	padding: 10px;
}

#bonusbar p {
	font-size: 32px;
	font-family:myriad-pro-condensed,helvetica,arial;
	text-align: left;
	margin: 0;
	padding-bottom: 18px;
	line-height: 24px;
}

#bonusbar a {
	color: darkblue;
}