/* Matteo Spinelli */
/* http://cubiq.org/swipeview */
/* barely adapted */

#swipeview_wrapper {
	width:500px;
	height:300px;
	background:#ddd;
	float: right;
	/* -webkit-user-select:none; */
}

#swipeview_wrapper img {
	width:100%;
}

#swipeview_nav {
	position:absolute;
	z-index:100;
	top:8px;
	width:200px;
	height:20px;
	left:50%;
	background:rgba(0,0,0,0.75);
	padding:0;
	margin:0 0 0 -100px;
	-webkit-border-radius:10px;
}

#swipeview_nav li {
	display:block;
	float:left;
	width:14px;
	height:14px; line-height:14px;
	-webkit-border-radius:7px;
	background:rgba(255,255,255,0.1);
	overflow:hidden;
	padding:0;
	margin:3px 11px 0 0;
	text-align:center;
}

#swipeview_nav li#prev {
	margin-left:5px;
	background:transparent;
}

#swipeview_nav li#next {
	margin-right:0;
	background:transparent;
}

#swipeview_nav li.selected {
	background:rgba(255,255,255,0.4);
}

#swipeview-slider > div {
	position:relative;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	overflow:hidden;
}

#swipeview-slider span {
	-webkit-box-sizing:border-box;
	display:block;
	/*text-align:center;*/
	font-size:1.4em;
	padding:0;
	width: 100%;
}